<div class="container">
  <h1>Edit a Post!</h1><br>

<form action='/edit/<%=@post.id%>' method= 'post'>
<input type="text" name="name" value='<%= @post.category.name %>'<br><br>
<input type="text" name="title" value="<%= @post.title %>" ><br><br>
<textarea name="text" rows="10" cols="40"><%= @post.text %></textarea><br><br>
<input type="submit" value="Submit">
</form>
</div>